.global-exercise-class {
  padding: 5px;
  margin-top: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;

  .container {
    margin-top: 10px;
    @media (min-width: 1000px) {
      display: flex;
    }
  }

  .button-show {
    svg {
      padding-right: 10px;
    }

    margin: 5px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;

    width: 180px;

    font-size: 18px;

    @media (max-width: 1000px) {
      padding: 5px 7px;
      margin: 3px 0;
      font-size: 15px;
    }

    @media (min-width: 1000px) {
      margin-bottom: 10px;
    }

    &.hint {
      background: #00647d40;
    }

    &.solution {
      background: #008d0040;
    }

    &.answer {
      background: #a5003440;
    }
  }

  &.hh .hint,
  &.hs .solution,
  &.ha .answer {
    display: none;
  }

  .hint-box,
  .solution-box,
  .answer-box {
    overflow: hidden;
    transition: 0.25s all;
    max-height: 0px;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  &.hint .hint-box,
  &.solution .solution-box,
  &.answer .answer-box {
    max-height: 2000px;
    transform: scaleY(1);
    opacity: 1;
  }

  .b {
    order: 10;
    background: theme(light);
    padding: 10px;
    border-radius: 5px;
  }

  // .spoiler {
  //   position: static;
  //
  //   border-radius: 7px;
  //   margin-bottom: 5px;

  //   .placeholder {
  //     opacity: 0;
  //     padding-top: 10px;
  //     width: 180px;
  //   }
  //   .abs {
  //     position: absolute;
  //     padding: 10px;
  //     margin-left: 5px;
  //     left: 0;
  //     width: 100%;
  //   }
  // }

  // .hide {
  //   .spoiler {
  //     margin-bottom: 0;
  //     // font-size: 0px;
  //     opacity: 0;
  //     width: 180px;
  //   }
  // }

  .global-math-container {
    margin: 5px 0;
    max-width: 75vw;
  }
}
